@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Card-container {
  margin-top: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.graphicMainCard-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.graphic-card {
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 350px;
  height: 320px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card-image > img {
  width: 100%;
  height: 300px;
  position: relative;
  top: 10px;
}
.graphic-card-text {
  width: 350px;
  height: 150px;
  background: #fdf3f0;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: 0.4s ease-in;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.graphic-card-title {
  width: 286px;
  height: 26px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.graphic-card-p {
  width: 286px;
  height: 52px;
}

.graphic-card-title > h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5px;
  color: #e7816b;
  text-transform: uppercase;
}
.graphic-card-title > p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333136;
}
.card-image1 {
  width: 350px;
  height: 320px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-image1 > img {
  border-radius: 15px 15px 0px 0px;
}

.graphic-card-text:hover {
  background: #e7a798;
  border-radius: 0px 0px 15px 15px;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
