@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lowerCard-container {
  margin-top: 23rem;
  width: 75%;
  height: 250px;
  background: #e7816b;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 14%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.lowerCard-left-container {
  width: 459px;
  height: 174px;
  padding: 0;
}

.lowerCard-left-container > h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.lowerCard-left-container > p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.lowerCard-right-container {
  width: 152px;
  height: 56px;
}

.lowerCard-right-container > button {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: white;
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.4s ease-in-out;
  overflow: hidden;
  transform: scale(1);
}

.lowerCard-right-container > button:hover {
  background: #ffad9b;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transform: scale(1.1);
}
