@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: #eee;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;
    transition: 0.4s ease-in-out;
    transform: scale(1);
    overflow: hidden;
    padding: 1rem;
}

.myBtn:hover {
    background: #ffad9b;
    border-radius: 8px;
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}