@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.locLowerCard-container {
  width: 80%;
  height: 300px;
  background: #e7816b;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 95px;
  position: relative;
  left: 14%;
  justify-content: space-between;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-top: 10rem;
}

.loclocation-text-title {
  width: 250px;
  height: 98px;
}

.loclocation-text-title>h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  text-align: left;
}

.loclocation-text-paragraph {
  width: 459px;
  height: 52px;
}

.loclocation-text-paragraph>p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-align: left;
}

#locloc-btn {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.4s ease-in-out;
  transform: scale(1);
  overflow: hidden;
}

#locloc-btn:hover {
  cursor: pointer;
  background: #ffad9b;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transform: scale(1.1);
}