@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

.myInput {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0px;
    outline: none;
    border: none;
    background: #E7816B;
    border-bottom: 2px solid white;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

::-webkit-input-placeholder{
    color: #FFFFFF;
    transition: .4s ease-in-out;
    transform: skew(1);
}
:focus::-webkit-input-placeholder{
    opacity: 0.5;
    transform: skew(-15deg);
}