@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainCard-handler {
  margin-top: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mainCard-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.app-card {
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 350px;
  height: 320px;
  background: #2e3947;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-image > img {
  width: 100%;
  height: 300px;
  position: relative;
  top: 10px;
}
.app-card-text {
  width: 350px;
  height: 150px;
  background: #fdf3f0;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: 0.4s ease-in;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.app-card-title {
  width: 286px;
  height: 26px;
}

.app-card-p {
  width: 286px;
  height: 52px;
}

.app-card-title > h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5px;
  color: #e7816b;
  text-transform: uppercase;
}
.app-card-title > p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333136;
}

#cardNum2 {
  background: #34b7a2;
  border-radius: 15px 15px 0px 0px;
}
#cardNum3 {
  background: #3f2f83;
  border-radius: 15px 15px 0px 0px;
}
#cardNum4 {
  background: #40125a;
  border-radius: 15%;
}
#cardNum5 {
  background: #853a4d;
  border-radius: 15px 15px 0px 0px;
}

.app-card-text:hover {
  background: #e7a798;
  border-radius: 0px 0px 15px 15px;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
