@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appLinkedCard-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 10rem;
}

.appLinkedCard-left-container,
.appLinkedCard-img-0 {
  width: 541px;
  height: 640px;
}

.appLinkedCard-img-0 {
  background-image: url("../images/img2.svg");
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  transform: scale(1);
  position: relative;
  cursor: zoom-in;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}


.appLinkedCard-right-container {
  width: 541px;
  height: 640px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.appLinkedCard-img-1 {
  width: 541px;
  height: 308px;
  background-image: url("../images/img3.svg");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  transform: scale(1);
  position: relative;
  cursor: zoom-in;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}

.appLinkedCard-img-2 {
  width: 541px;
  height: 308px;
  background-image: url("../images/img4.svg");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  transform: scale(1);
  position: relative;
  cursor: zoom-in;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}

.appLinkedCard-img-0>h1,
.appLinkedCard-img-1>h1,
.appLinkedCard-img-2>h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #ffffff;
}

.appLinkedCard-img-0>a,
.appLinkedCard-img-1>a,
.appLinkedCard-img-2>a {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.appLinkedCard-img-0>a:hover,
.appLinkedCard-img-1>a:hover,
.appLinkedCard-img-2>a:hover {
  cursor: pointer;
}

.appLinkedCard-img-0:hover {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #ff512f, #f09819);
  background: linear-gradient(to right, #ff512f, #f09819);
  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 15px;
  transform: scale(1.1);
  right: 20px;
  cursor: zoom-in;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.appLinkedCard-img-1:hover,
.appLinkedCard-img-2:hover {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #ff512f, #f09819);
  background: linear-gradient(to right, #ff512f, #f09819);
  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 15px;
  transform: scale(1.1);
  left: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}